html ,body{height: 100%;}
*{
   font-family: "eurostile", sans-serif;
}

/*HEADER*/
#head{
    padding-top: 10px;
    border-bottom: 2px solid #17a2b8;
    text-align: center;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}
#head h1{
    color: #17a2b8;
}
#head a{
    text-decoration: none;
}
/*body*/

#Box{
    height: 600px;
    border-bottom:1px solid black;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#Box div input{
    height: 25px;
}
#Box div{
    display: flex;
    border: 1px solid #17a2b8;
    min-height: 400px !important;
    align-content: center;
    justify-content: center;
}
#Box a{
    text-decoration: none;
    color: #17a2b8;
}
#iniciarS{
    align-self: center;
    display: flex;
    flex-direction: column;
}
#iniciarS button{
    margin-top: 15px;
}
#iniciarS input{
    margin-bottom: 5px;
}



/*footer*/
#foot{
    background-color: #232f3e;
    height: 85px;
}

@media (max-width: 768px){

}

