html ,body{height: 100%;}
*{
   font-family: "eurostile", sans-serif;
}


#head{
    padding-top: 10px;
    border-bottom: 2px solid #17a2b8;
}
#head h1{
    color: #17a2b8;
}
#head a{
    text-decoration: none;
}
