<footer>
    <div class="footCont container-fluid">
        <div class="footer row">
            <div class="col-3"><a href="">Legal Terms</a></div>
            <div class="col-3"><a href="">Privacy</a></div>
            <div class="col-3"><a href="">Help</a></div>
        </div>
    </div>
</footer>