<header>
    <div class="container-fluid">
        <div class="header row">
            <div class="col-2">
                <a href="/"><img class="logo" src="/fonts/logo2.png" alt="pageLogo"></a>
            </div>
            <div class="col-5">
                <form action="/search" method="post" class="input-group">
                    <input type="search" name="q" id="q" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                    <button class="btn btn-outline-success" >Search</button>
                </form> 
            </div>
            <div class="col-5 text-center">
                <nav>
                    <a href="/products">Discover</a>
                    <a href="/stores">Shops</a>
                    <a href="/about">About Us</a>
                    <% if(!currentUser){%> 
                        <a href="/login"><img style="height: 24.8px;" src="/fonts/login.jpg" alt=""></a>
                      <% }else{ %>
                        <a href="/logout">Logout!</a>
                      <% } %> 
                </nav>
            </div>
        </div>
    </div>
</header>