<footer>
    <div class="footer container-fluid">
        <div class="about row">
            <div class="col text-center">
                <a href="">About Us</a></div>
            <div class="col text-center"><a href="">Legal Terms</a></div>
            <div class="col text-center"><a href="">Help</a></div>
        </div>
    </div>
</footer>