html ,body{height: 100%;}
*{
    font-family: ShopifySans, Helvetica, Arial, sans-serif;
}


#head{
    padding-top: 10px;
    background-color:rgb(33, 37, 41);;
    border-bottom: 2px solid black;
}
#head button{
    color: white;
    border-color: white;
}

#head a{
    text-decoration: none;
    color: white;
}
.seleccion{
    font-size: 15px;
}
/*FIRST SECTION*/
.undHead{
    height:500px;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #8787FB;
    border-bottom: 2px solid black;
    justify-content: center;
    color: white;
    flex-shrink: 1;
}
.menu h4{
    font-size: 40px;
}
.menu a{
    color: white;
}

.categories {
    height:500px;
    border-left: 2px solid black;
    background-image: url('/fonts/background.jpg');
    background-size: cover;
    border-bottom: 2px solid black;
}

.info{
    height:48vh;
    background-color: white;


}
.footer{
    background-color: black;
    height:8vh;
}

.about{
    height: 100%;
    align-content: center;
}

.footer a {
    color: white;
}


@media (max-width: 768px){
    #head  h1{
        font-size:32px;
    }
    .undHead{
        flex-direction: column;
        flex-shrink: 2;
    }
    .seleccion,#head button{
        display: none;
    }
    .menu h4{
        margin-top: 8px;
        font-size: 25px;
    }

}

@media (width: 768px){
    .undHead{
        height: 700px;
    }
}