<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop2You</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div id="head" class="row align-items-center justify-content-between">
                <div class="col-3 text-left"><h1><a href="/">Shop2You</a></h1></div>
                <div class="seleccion col-2  text-center">
                    <a href="/products">DISCOVER</a>
                </div>
                <div class="seleccion col-2  text-center">
                    <a href="/stores">STORE</a>
                </div>
                <div class="seleccion col-2 text-center">
                    <a href="/stores">CATEGORY</a>
                </div>
                <div class="col-3 text-right"> <a href="/login"><button class="btn btn-outline" >Welcome, Log In!</button></a></div>
                <div class="w-100"></div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <div class="undHead row ">
                <div  class="menu col a">
                    <h4>Welcome to Shop2You, the web for sellers and buyers.</h4>
                    <p> Are you a seller? Create your own store in seconds  <a href="/stores/new"><button class="button btn-dark">START NOW!</button></a></p>
                </div>
                <div class="categories col"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div  class="info row text-center align-items-center">
                <div class="col">
                    <h1><strong>NOT JUST A ECOMMERCE, WE ARE THE SELLING SOCIAL MEDIA</strong></h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            .
        </div>
    </section>
</body>
</html>