<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div id="head" class="row align-items-center justify-content-between">
                <div class="col-3 text-center"><a href="/"><h1>E-commerce</h1></a></div>
               <div class="col-6 text-right"> <a href="/login"><button class="btn btn-outline-info" >Bienvenido, Inicia Sesion</button></a></div>
               <div class="w-100"></div>
               
            </div>
        </div>
    </header>

    
    
</body>
</html>