<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop2You</title>
    <%- include('../partials/styles') %> 
</head>
<body>
    <%- include('../partials/flash') %> 
    <%- include('../partials/nav') %> 
    <section>
        <div class="container-fluid">
            <div class="undHead row ">
                <div  class="menu col a">
                    <h4>Welcome to Shop2You, the web for sellers and buyers.</h4>
                    <p> Are you a seller? Create your own SHOP in seconds  <a href="/stores/new"><button class="button btn-dark">START NOW!</button></a></p>
                </div>
                <div class="categories col"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div  class="info row text-center align-items-center">
                <div class="col">
                    <h1><strong>NOT JUST AN ECOMMERCE, WE ARE THE COMMERCE SOCIAL MEDIA</strong></h1>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footes') %> 
</body>
</html>