<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <%- include('../partials/styles') %>
    <link rel="stylesheet" href="StyleP.css">
</head>
<body>
    <%- include('../partials/nav') %> 
    
    <a href="/stores">Go to Stores</a>
    <%- include('../partials/footes') %>
</body>
</html>